.navMenu{
  margin-right:180px;
}

.group1{
  position: relative;
}

.imagen{
  position:relative;
  top: -40%;
  left: -150px;
  
}
.pill{
  background-color: #4c6cd4;
  height: 400px;
  width: 10000px;
  position: relative;
  top:150px;;
  left: 30%;
}
.pill2{
  background-color: #4c6cd4;
  height: 400px;
  width: 10000px;
  position: absolute;
  top: 90%;
  right: 65%;
}

@media (max-width: 768px){
  .pill{
    height: 250px;
    top:20%;
  }
  .pill2{
    height: 250px;
    top:20%;
  }
}